
<% layout('./layouts/boilerplate') %>
<h1>All Places</h1>
<!-- <a href='/places/new'>new Places</a> -->

    <% for(let place of places){%>
   
        <div class=placesForm>
            <div class=row>
                <div class="img-row">

                    <img src="<%=place.image  %>" class="img-fluid" alt=""/>
                </div>
                <div class=""">
                    <div class="card-body">
                        <h5 class='card-title'>
                            <%= place.title %>
                        </h5>
                        <p class="card-text"><%= place.description %></p>
                        <p class="card-text"><small class="text-light"> <%= place.location %></small></p>
                        <a class="btn btn-primary" href="/places/<%= place._id %>"> View    <%= place.title %> </a>
                    </div>
                </div>
            </div>
        </div>
   <% }%> 



    <!-- <h1>all places</h1>
    <div>  <a href='/places/new'>new Places</a></div>
  
    <ul>
        <% for(let place of places){%>
        
            <li><a href="/places/<%= place._id %>"><%= place.title %></a></li>
       <% }%> 
    </ul> -->
    
